#agencyProfile {
    margin: 50px 0px 0px 0px;
    color: #0004ff;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    font: bold;
  }
    body{
      /* background-color: aliceblue; */
      background-size: cover;
      background-position: center;
    }
    .login-page{

      margin: 5% auto;
  
      width: 480px;

    }
    .formLog {

      font-family: Arial, Helvetica, sans-serif;
      background: #ffffff;
      max-width: 480px;
      border-radius: 5px;
      padding: 15px 15px 15px 15px;
      text-align: center;
      box-shadow: 0px 8px 8px 8px rgb(231, 232, 233);
    }
  
    .formLog input {
      font-family: "Roboto", sans-serif;
      outline: 1;
      border-color: rgb(238, 240, 240);
      background: #ffffff;
      width: 450px;

      box-shadow: none;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 5px;
    }
  .error {
    color: red;
    margin-bottom: 10px;
  }
    #SubmitButton {
      width: 300px;
      height: 40px;
      background-color: #0004ff;
      border-radius: 30px;
      box-shadow: none;
      color: #ffffff;
      border: 0ch;
    }
    .forget a{
      float: left;
      text-decoration: none;
      color: #0004ff;
      font-weight: 600;
    }
    input[type='checkbox'] {
      float: left;
      width: 20px;
    }
    input[type='checkbox'] + label {
      display: block;
      float: left;
    }
    #terms {
      text-decoration: none;
    }
    label {
      float: left;
      display: inline;
      text-decoration: none;
      padding: 10px 0px 10px 0px;
    }
  